body {
  background: #0b1a2d;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  background: #1f6feb;
  border: none;
  color: white;
}

.navbar {
  background: #061427;
  padding: 10px;
}

.navbar button {
  margin: 3px;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}
